body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
section{
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.199) 2px 3px;
}
section header{
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    min-height: 80px;
}

#header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(64, 143, 216);
    width: 100%;
}

#lang a {
    color:white
}
header img{
    height: 10vh;
}

ul{
    list-style: circle;
}
button{
    padding: 8px;
    background-color: rgb(19, 19, 19);
    color: white;
    max-height: 50%;
    max-width: 50%;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover{
    padding: 10px;
}
.button-holdder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}
main{
    padding: 10px;
}
.stockimgs{
    width: 33.3%;
    height: 130px;
    transition: all 0.5s;
    background-size: cover;
}
.stockimgs:hover{
    border-radius: 25px;
}

.imageContainer{
    display: flex;
    flex-wrap: wrap;

}
.zip{
    display: flex;
    justify-content: center;
    margin: 10px 4px 10px 4px;
    padding: 4px;
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s;
}
.zip:hover{
    margin: 8px 0px;
    padding: 6px 4px;
}